<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://shaheer.herokuapp.com"> Ruby demo</a>
      by Shaheer
    </small>
    <nav>
      <ul>
        <ui>
          <%= link_to "About", about_path %>
        </ui>
      </ul>
    </nav>
  </footer>
</div>